<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
    class="search-input"
  />
  <button type="submit" class="search-btn">Search</button>
</form>
<div class="gallery"></div>
<!-- <button type="button" class="load-more is-hidden">Load more</button> -->
<span class="loader is-hidden"></span>
<script type="module" src="./js-gallery/gallery.js"></script>
<!-- <script type="module" src="./js-gallery/scroll-template.js"></script> -->
<!-- <script type="module" src="./js-gallery/btn-template.js"></script> -->